# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
A = pd.Series(np.random.randint(1,5,100))
B = pd.Series(np.random.randint(1,4,100))
C = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [3]:
SC = pd.concat([A,B,C],axis=1)
SC.head()

   0  1      2
0  2  3  12047
1  2  3  20987
2  1  3  24554
3  4  3  19881
4  4  3  23664

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [4]:
SC.columns = ['bedrs','bathrs','price_sqr_meter']
SC.head()

   bedrs  bathrs  price_sqr_meter
0      2       3            12047
1      2       3            20987
2      1       3            24554
3      4       3            19881
4      4       3            23664

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [5]:
bigcolumn = pd.concat([A,B,C],axis=0)
bigcolumn

0         2
1         2
2         1
3         4
4         4
      ...
95    25271
96    19357
97    27404
98    24397
99    26730
Length: 300, dtype: int32

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [6]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [7]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          2
1          2
2          1
3          4
4          4
       ...
295    25271
296    19357
297    27404
298    24397
299    26730
Length: 300, dtype: int32

In [8]:
# https://www.youtube.com/watch?v=ZLFjoBetTRs